.profile-pic-wrapper {
  width: 90px;
  height: 60px;
  cursor: pointer;
}

.profile-pic-wrapper img {
  max-width: 50% !important;
  max-height: 50% !important;
  width: auto !important;
  height: auto !important;
  margin-bottom: 0;  
}

.profile-pic-wrapper:hover img {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

/* Change width and height to scale images */
  width: 360px;
  z-index: 1;
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { 
  display:block; 
  top:0px;
  left:-600px;
  width: 260px;
  z-index: 1;
}